/*======================================
  Selectric v1.13.0
======================================*/
@font-face {
  font-family: Fira Sans;
  src: url(../font/FiraSans-Regular.ttf);
}

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 1px solid #DDD;
  border-radius: 0px;
  background: white;
  position: relative;
  overflow: hidden;
  height: 58px;
  font-family: 'Fira Sans', sans-serif;
}


.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 38px;
  color: #444;
  padding-left: 38px;
  padding-top: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Fira Sans', sans-serif;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 10px;
  top: 21px;
  width: 15px;
  height: 15px;
  line-height: 38px;
  background-color: white;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: -4px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: solid #7d97b3;
  padding: 3px;
  display: inline-block;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg)
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}


.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  display: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #c4c4c4;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  font-family: 'Fira Sans', sans-serif;
}

.selectric-items li {
  display: block;
  padding: 15px 14px 15px 16px;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #e7ecf2;
  border-top: 1px solid #e7ecf2;
  font-family: 'Fira Sans', sans-serif;
}

.selectric-items li.selected {
  background: #E0E0E0;
  color: #444;
  font-family: 'Fira Sans', sans-serif;
}

.selectric-items li.highlighted {
  background: #e5f2ff;
  color: #444;
}

.selectric-items li:hover {
  background: #e5f2ff;
  color: #444;
  font-family: 'Fira Sans', sans-serif;
}

.selectric-items .disabled {
  display: none
}

.selectric-items .selectric-group .selectric-group-label {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f5f8fa;
  color: #b8c1cc;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}
